// variables

$link: #65aeee;
$link-hover: #448ccb;
$blue-light: #00b4ff;
$blue: #1589ec;
$grey-blue-light:#f2f4f4;
$white: #ffffff;
$grey-light-one: #fcfcfc;
$grey-light-two: #707070;
$grey-light-three: #959595;
$grey-dark-one: #111111;
$grey-dark-two: #222222;
$grey-dark-three: #333333;
$black: #000000;

$border-main: solid 1px #dfdfdf;

$shadow: 0 1px 2px rgba(0, 0, 0, .08);
$shadow-inset: inset 0 1px 1px rgba(0, 0, 0, .08);

$font-main: 'Open Sans', 'Helvetica', sans-serif;
$font-reading: 'PT Sans', 'Georgia', sans-serif;

// mixins
    
    // rounded corners

@mixin rounded($radius: 4px) {
    border-radius: $radius;
}

@mixin rounded-corner($vert, $horz, $radius: 4px) {
    border-#{$vert}-#{$horz}-radius: $radius;
}

@mixin rounded-slash($radius: 4px) {
    border-top-right-radius: $radius;
    border-bottom-left-radius: $radius;
}

@mixin rounded-backslash($radius: 4px) {
    border-top-left-radius: $radius;
    border-bottom-right-radius: $radius;
}

@mixin rounded-horz($vert, $radius: 4px) {
    border-#{$vert}-right-radius: $radius;
    border-#{$vert}-left-radius: $radius;
}

@mixin rounded-vert($horz, $radius: 4px) {
    border-top-#{$horz}-radius: $radius;
    border-bottom-#{$horz}-radius: $radius;
}

@mixin rounded-three($vert, $horz, $radius: 4px) {
    border-radius: 4px;
    border-#{$vert}-#{$horz}-radius: 0;
}

    // gradients

@mixin gradient-metal-white {
    background: $grey-light-one;
    background: -moz-linear-gradient(top, $grey-light-one 0%, $grey-blue-light 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, $grey-light-one), color-stop(100%, $grey-blue-light));
    background: -webkit-linear-gradient(top, $grey-light-one 0%, $grey-blue-light 100%);
    background: -o-linear-gradient(top, $grey-light-one 0%, $grey-blue-light 100%);
    background: -ms-linear-gradient(top, $grey-light-one 0%, $grey-blue-light 100%);
    background: linear-gradient(to bottom, $grey-light-one 0%, $grey-blue-light 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#{$grey-light-one}', endColorstr='#{$grey-blue-light}', GradientType=0);
}

    // text

@mixin text($align, $size, $color, $trans: none, $weight: 400) {
    text-align: $align;   
    font-size: $size;
    text-transform: $trans;
    font-weight: $weight;
    color: $color;
}

    //hover

@mixin hover-main {
    &:hover {     
    box-shadow: inset 0 2px 1px rgba(0, 0, 0, .04);
    background: $grey-light-one;
    background: -moz-linear-gradient(top, $grey-light-one 0%, $grey-blue-light 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, $grey-light-one), color-stop(100%, $grey-blue-light));
    background: -webkit-linear-gradient(top, $grey-light-one 0%, $grey-blue-light 100%);
    background: -o-linear-gradient(top, $grey-light-one 0%, $grey-blue-light 100%);
    background: -ms-linear-gradient(top, $grey-light-one 0%, $grey-blue-light 100%);
    background: linear-gradient(to bottom, $grey-light-one 0%, $grey-blue-light 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#{$grey-light-one}', endColorstr='#{$grey-blue-light}', GradientType=0);
    text-shadow: 0 1px #fff;
    }
    &:active { color: $grey-blue-light};
}

// style

html, body, div {
    margin: 0;
    padding: 0;
    font-size: 100%;
    vertical-align: baseline;
}

li {
    list-style-type: none;
}

ul, li {
    margin: 0;
    padding: 0;
}

a {
    color: $link;
    text-decoration: none;
}

a:hover {
    color: $link-hover;
}


.mini-heading { 
    @include text(center, .6em, $grey-light-two, uppercase, 700);  
    @include rounded-corner(bottom, right);
    @include gradient-metal-white;
    padding: 8px;
    border: $border-main;
    text-shadow: 0 1px $white;
    cursor: default;
}










