body {
  background: #fff; }

html, body, div {
  margin: 0;
  padding: 0;
  font-size: 100%;
  font-family: "Open Sans", "Helvetica", sans-serif;
  vertical-align: baseline; }

li {
  list-style-type: none; }

ul, li {
  margin: 0;
  padding: 0; }

a {
  color: #65aeee;
  text-decoration: none; }

a:hover {
  color: #448ccb; }

.navbar {
  background: #0065a2;
  display: block;
  height: 46px;
  box-shadow: 0 4px #003f65, inset 0 1px 2px #00588e, inset 0 -1px 2px rgba(0, 0, 0, 0.08);
  min-width: 100%; }

.container {
  width: 940px;
  margin: 0 auto; }

.navbar-inner {
  display: table;
  height: 100%;
  min-width: 940px; }

.livegen-symbol {
  display: table-cell;
  vertical-align: middle;
  width: 52px;
  text-align: center; }
  .livegen-symbol img {
    padding: 0;
    margin: 0;
    vertical-align: bottom; }

.nav-items, .user-details {
  line-height: 46px;
  color: #ffffff;
  font-size: 1.1em;
  display: block;
  height: 100%; }

.nav-items {
  position: relative;
  float: left; }
  .nav-items > li:hover:not(.search):not(.nav-menu) {
    background-color: #004c79; }
  .nav-items .search {
    padding: 0 10px;
    border-left: 0; }

.nav-items > li, .user-details > li {
  text-align: inherit;
  font-size: 0.65em;
  text-transform: uppercase;
  font-weight: 700;
  color: white;
  float: left;
  margin: 0 0 0 -1px;
  display: block;
  border-width: 0 1px 0 1px;
  border-style: solid;
  border-color: #004c79; }
  .nav-items > li i, .user-details > li i {
    font-size: 1.2em; }
  .nav-items > li a, .user-details > li a {
    display: block;
    margin: 0;
    padding: 0 14px;
    color: #fff; }

.nav-menu {
  padding: 0 14px;
  cursor: pointer;
  position: relative; }
  .nav-menu:hover {
    background-color: #003f65; }
    .nav-menu:hover ul {
      display: block; }
  .nav-menu ul {
    padding-top: 4px;
    display: none;
    background-color: #222;
    box-shadow: inset 0 4px #003f65;
    position: absolute;
    left: 0;
    width: 174px;
    cursor: default;
    z-index: 999; }
  .nav-menu li:not(.header) {
    margin: 0;
    line-height: 20px;
    border-top: solid 1px #111; }
    .nav-menu li:not(.header) a {
      padding: 8px 14px; }
  .nav-menu li:hover:not(.header) {
    background-color: #0065a2;
    box-shadow: inset 0 1px rgba(255, 255, 255, 0.12);
    text-shadow: 0 1px 2px rgba(0, 0, 0, 0.4); }
  .nav-menu .header {
    margin: 12px 14px 6px 14px;
    padding: 0;
    line-height: 20px;
    text-align: inherit;
    font-size: 0.9em;
    text-transform: uppercase;
    font-weight: 400;
    color: #999999; }

.user-details {
  float: right; }
  .user-details a {
    font-weight: 400; }
  .user-details li {
    border: 0; }
    .user-details li:hover {
      background: #00c479;
      text-shadow: 0 1px rgba(0, 0, 0, 0.15);
      box-shadow: 0 4px #009b60; }
    .user-details li:active {
      background: #00b06c;
      box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.14), 0 4px #009b60; }

.search-input {
  display: inline;
  padding: 6px 8px;
  border-radius: 6px;
  box-shadow: 0 1px rgba(255, 255, 255, 0.08), inset 0 1px 3px rgba(0, 0, 0, 0.36);
  background-color: #003250; }

.search input {
  width: 128px;
  height: 100%;
  margin: 0 6px;
  background: transparent;
  color: #fff;
  font-style: italic;
  font-size: 13px;
  border: 0;
  padding: 0; }
  .search input:focus {
    outline: none; }

.search-focused {
  background: #004c79; }
  .search-focused .search-input {
    background-color: #001928; }

.main-wrapper {
  width: 940px;
  margin: 8px auto 100px auto;
  display: table; }

.mini-heading {
  text-align: center;
  font-size: 0.7em;
  text-transform: uppercase;
  font-weight: 400;
  color: #999999;
  background: #fff;
  padding: 8px;
  border: solid 1px #dfdfdf;
  cursor: default; }

.sidebar {
  width: 220px;
  display: table-cell;
  vertical-align: top; }

.sidebar-section-wrapper {
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.12);
  margin-right: 4px;
  background: #fff;
  border-bottom-left-radius: 4px; }
  .sidebar-section-wrapper .all {
    border-bottom-left-radius: 4px;
    font-size: .7em; }
    .sidebar-section-wrapper .all:hover {
      box-shadow: inset 0 2px 1px rgba(0, 0, 0, 0.04);
      background: #fcfcfc;
      background: -moz-linear-gradient(top, #fcfcfc 0%, #f2f4f4 100%);
      background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #fcfcfc), color-stop(100%, #f2f4f4));
      background: -webkit-linear-gradient(top, #fcfcfc 0%, #f2f4f4 100%);
      background: -o-linear-gradient(top, #fcfcfc 0%, #f2f4f4 100%);
      background: -ms-linear-gradient(top, #fcfcfc 0%, #f2f4f4 100%);
      background: linear-gradient(to bottom, #fcfcfc 0%, #f2f4f4 100%);
      text-shadow: 0 1px #fff; }
    .sidebar-section-wrapper .all:active {
      background: #f2f2f2; }
    .sidebar-section-wrapper .all a {
      color: inherit;
      display: block;
      padding: 10px 0; }

.sidebar-reviews li {
  border: solid #dfdfdf;
  border-width: 1px 1px 0 1px;
  padding: 8px;
  margin-top: -1px;
  position: relative;
  cursor: pointer; }
  .sidebar-reviews li:hover {
    box-shadow: inset 0 2px 1px rgba(0, 0, 0, 0.04);
    background: #fcfcfc;
    background: -moz-linear-gradient(top, #fcfcfc 0%, #f2f4f4 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #fcfcfc), color-stop(100%, #f2f4f4));
    background: -webkit-linear-gradient(top, #fcfcfc 0%, #f2f4f4 100%);
    background: -o-linear-gradient(top, #fcfcfc 0%, #f2f4f4 100%);
    background: -ms-linear-gradient(top, #fcfcfc 0%, #f2f4f4 100%);
    background: linear-gradient(to bottom, #fcfcfc 0%, #f2f4f4 100%);
    text-shadow: 0 1px #fff; }
  .sidebar-reviews li:active {
    background: #f2f2f2; }
.sidebar-reviews .cover, .sidebar-reviews .info {
  display: table-cell;
  vertical-align: middle; }
.sidebar-reviews .info {
  padding: 0 8px; }
.sidebar-reviews .category {
  text-align: inherit;
  font-size: 0.6em;
  text-transform: uppercase;
  font-weight: 700;
  color: #888888; }
.sidebar-reviews .title {
  text-align: inherit;
  font-size: 0.7em;
  text-transform: uppercase;
  font-weight: 700;
  color: #111111; }
.sidebar-reviews .editor {
  text-align: inherit;
  font-size: 0.6em;
  text-transform: none;
  font-weight: 400;
  color: #777777; }
.sidebar-reviews img {
  max-width: 66px;
  height: auto;
  border: solid 1px #dfdfdf;
  display: block; }

.all {
  text-align: center;
  font-size: inherit;
  text-transform: uppercase;
  font-weight: 400;
  color: #707070;
  border: solid 1px #dfdfdf; }
  .all:hover {
    color: #303030; }
  .all i {
    margin-left: 8px; }

.content-wrapper {
  width: 720px;
  display: table-cell; }

.content-filter {
  border-top-right-radius: 4px;
  background: #fff;
  position: relative;
  border-width: 1px; }
  .content-filter .all {
    position: absolute;
    right: -1px;
    top: -1px;
    border-top-right-radius: 4px; }
    .content-filter .all:hover {
      box-shadow: inset 0 2px 1px rgba(0, 0, 0, 0.04);
      background: #fcfcfc;
      background: -moz-linear-gradient(top, #fcfcfc 0%, #f2f4f4 100%);
      background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #fcfcfc), color-stop(100%, #f2f4f4));
      background: -webkit-linear-gradient(top, #fcfcfc 0%, #f2f4f4 100%);
      background: -o-linear-gradient(top, #fcfcfc 0%, #f2f4f4 100%);
      background: -ms-linear-gradient(top, #fcfcfc 0%, #f2f4f4 100%);
      background: linear-gradient(to bottom, #fcfcfc 0%, #f2f4f4 100%);
      text-shadow: 0 1px #fff; }
    .content-filter .all:active {
      background: #f2f2f2; }
    .content-filter .all a {
      color: inherit;
      display: block;
      padding: 0 16px; }

.content-filter, .content-settings {
  line-height: 46px;
  border-style: solid;
  border-color: #dfdfdf;
  font-size: .7em;
  color: #707070; }

.content-settings {
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.08);
  border-width: 0 1px 0 1px;
  background: #fff; }
  .content-settings li {
    display: table-cell;
    color: #333;
    font-weight: 700;
    border-right: solid 1px #dfdfdf;
    height: 100%;
    padding: 0 8px;
    cursor: pointer; }
  .content-settings input, .content-settings label {
    vertical-align: middle;
    cursor: pointer;
    margin: 0; }
  .content-settings label {
    margin-left: 8px; }

.filter, .sort {
  display: inline;
  border: solid 1px #dfdfdf;
  border-radius: 3px;
  padding: 4px 6px;
  margin-left: 10px;
  cursor: pointer;
  box-shadow: inset 0 1px rgba(0, 0, 0, 0.05);
  background: #fff; }
  .filter .title, .sort .title {
    text-transform: uppercase;
    font-weight: 700;
    margin-right: 6px; }
  .filter:hover, .sort:hover {
    background-color: #0065a2;
    color: #ffffff;
    border-color: #004c79; }

.filter-active, .sort-active {
  background-color: #444444;
  border-color: #111111;
  color: #ffffff; }

.filter-platform-checked {
  box-shadow: inset 0 4px #0065a2; }

.content-roll {
  width: 720px; }

.content-roll-load {
  text-align: center;
  font-size: 0.7em;
  text-transform: uppercase;
  font-weight: 700;
  color: #d5d5d5;
  background-color: #fff;
  line-height: 30px;
  border-style: solid;
  border-color: #dfdfdf;
  border-width: 0 1px 1px 1px;
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
  cursor: pointer;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.06); }
  .content-roll-load:hover {
    background-color: #0065a2;
    color: #fff;
    border-color: #00588e;
    box-shadow: inset 0 1px rgba(0, 0, 0, 0.1); }

.content-roll-load:active, .filter:active, .sort:active {
  text-shadow: 0 1px rgba(0, 0, 0, 0.2);
  background-color: #004c79; }

.content-item {
  background: #fff;
  color: #111;
  cursor: pointer;
  display: table;
  border: solid 1px #dfdfdf;
  margin-top: -1px; }
  .content-item:hover .platform-capsule {
    box-shadow: inset 0 0 0 4px rgba(255, 255, 255, 0.4); }

.item-platform {
  width: 72px;
  display: table-cell;
  text-align: center; }

.platform-capsule {
  border-radius: 50%;
  width: 42px;
  height: 42px;
  text-align: center;
  font-size: 0.6em;
  text-transform: uppercase;
  font-weight: 700;
  color: white;
  line-height: 42px;
  display: inline-block;
  transition: box-shadow 300ms; }

.item-thumbnail {
  width: 126px; }

.item-thumbnail-frame {
  display: inline-block;
  border: solid 2px #dfdfdf;
  border-radius: 6px; }

.item-thumbnail-frame img {
  border-radius: 4px;
  vertical-align: top;
  width: 120px;
  height: auto;
  max-height: 68px; }

.item-details {
  width: 448px;
  vertical-align: middle; }

.time-stamp {
  font-size: 0.85em;
  font-weight: 400;
  margin-left: 4px; }

.item-title {
  line-height: 18px;
  font-size: .9em;
  font-weight: 700;
  padding: 6px 0 6px 20px;
  max-height: 36px;
  overflow: hidden; }

.item-authoring, .item-comment-count {
  padding-left: 20px;
  line-height: 16px;
  text-align: inherit;
  font-size: 0.7em;
  text-transform: inherit;
  font-weight: 700;
  color: #707070; }
  .item-authoring i, .item-comment-count i {
    margin-right: 4px; }

.item-comment-count:after {
  font-weight: 400;
  content: 'commentaires';
  margin-left: 4px; }

.item-popularity {
  width: 72px;
  display: table-cell;
  text-align: center; }

.hp {
  margin-bottom: -6px;
  line-height: 15px; }

.hp, .popularity {
  font-size: .7em;
  font-weight: 700; }

.heart {
  font-size: 1.4em;
  margin-bottom: -2px;
  line-height: 30px; }

.popularity {
  display: inline-block;
  padding: 1px 4px;
  border-radius: 3px;
  border: solid 1px #e1e1e1;
  box-shadow: inset 0 1px rgba(0, 0, 0, 0.06); }

.platform-pc {
  background-color: #ff5e3c; }

.platform-multi {
  background-color: #7c5dc6; }

.platform-360 {
  background-color: #8fd400; }

.platform-pc-item-hover {
  color: #ff5e3c; }

.platform-multi-item-hover {
  color: #7c5dc6; }

.platform-360-item-hover {
  color: #8fd400; }

.content-item:hover .popularity {
  background-color: #252525;
  color: #fff;
  border: 0; }
.content-item:hover .heart {
  color: #e60000; }
.content-item:hover .item-thumbnail {
  opacity: .8; }

.item-platform, .item-thumbnail, .item-popularity, .item-details {
  position: relative;
  display: table-cell;
  vertical-align: middle;
  height: 100px; }

.carousel {
  width: 720px;
  height: 200px;
  position: relative;
  overflow: hidden;
  background: #111; }
  .carousel li {
    display: none;
    position: absolute;
    top: 0;
    left: 0; }

.carousel-wrapper {
  display: inline-block;
  position: relative;
  color: #fff;
  text-align: center; }

.carousel-titles {
  text-align: center;
  font-size: 0.6em;
  text-transform: uppercase;
  font-weight: 400;
  color: white;
  position: absolute;
  display: table;
  right: 0;
  bottom: 0;
  z-index: 99;
  text-shadow: 0 1px rgba(0, 0, 0, 0.4); }
  .carousel-titles ul {
    display: table-cell;
    vertical-align: middle; }
  .carousel-titles li {
    cursor: pointer;
    height: 32px;
    line-height: 32px;
    width: 180px;
    margin: 4px;
    background: #000;
    background: rgba(0, 0, 0, 0.8); }
  .carousel-titles .active {
    font-weight: 700;
    box-shadow: 4px 0 #0065a2; }

.slide-description-wrapper {
  position: absolute;
  left: 0;
  top: 0;
  height: 200px;
  max-height: 200px;
  width: 210px;
  z-index: 99;
  font-size: 1em;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.8);
  background: #000;
  background: rgba(0, 0, 0, 0.65);
  font-weight: 700;
  cursor: default;
  overflow: hidden;
  text-align: left; }

.slide-description {
  padding: 20px 20px 6px 20px;
  display: inline-block;
  vertical-align: top;
  text-transform: uppercase; }

.slide-subtitle {
  display: inline-block;
  font-size: .8em;
  padding: 0 20px;
  font-weight: 400; }

/* post style */
.post {
  display: table; }
  .post .side {
    display: table-cell;
    width: 244px;
    text-align: center;
    font-weight: 700;
    vertical-align: top;
    border-top: solid 1px #dfdfdf; }
    .post .side > div {
      background-color: #fff;
      border-style: solid;
      border-color: #dfdfdf;
      border-width: 0 0 1px 1px; }
    .post .side .info {
      border-right: 0;
      text-transform: uppercase;
      height: 86px;
      display: table-cell;
      vertical-align: middle;
      width: inherit; }
    .post .side .category {
      font-size: .7em; }
    .post .side .time {
      font-size: .8em; }
    .post .side .author {
      cursor: pointer;
      padding: 24px;
      border-right: 0;
      border-bottom: solid 1px #dfdfdf;
      position: relative; }
      .post .side .author .name {
        font-size: 1.2em; }
      .post .side .author .quote {
        font-size: .8em;
        color: #666; }
      .post .side .author .twitter {
        font-size: .9em; }
      .post .side .author:before {
        content: 'par';
        margin-left: 105px; }
      .post .side .author div {
        margin: 6px 0; }
      .post .side .author:hover {
        color: #0065a2; }
    .post .side .author:before, .post .side .topics:before {
      position: absolute;
      top: -8px;
      left: 0;
      line-height: 15px;
      padding: 0 8px;
      text-align: center;
      font-size: 0.65em;
      text-transform: uppercase;
      font-weight: 400;
      color: #aaaaaa;
      background-color: #fff;
      border: solid 1px #dfdfdf;
      border-radius: 7px; }
  .post .main {
    display: table-cell;
    vertical-align: top;
    width: 694px;
    border: solid 1px #dfdfdf;
    background-color: #fff; }
  .post .header {
    height: 86px;
    border-bottom: solid 1px #dfdfdf;
    display: table;
    width: inherit; }
  .post .header-img {
    margin-bottom: 8px; }
  .post .share {
    padding: 0 36px;
    vertical-align: middle;
    display: table-cell; }
    .post .share .share-on {
      text-align: left;
      font-size: 0.7em;
      text-transform: none;
      font-weight: 400;
      color: #aaaaaa;
      margin-right: 6px; }
      .post .share .share-on i {
        margin-left: 6px; }
    .post .share .btn-share {
      display: inline-block;
      border-radius: 3px;
      margin-right: 6px; }
      .post .share .btn-share a {
        text-align: center;
        font-size: 0.6em;
        text-transform: uppercase;
        font-weight: 700;
        color: white;
        padding: 6px 8px;
        display: block; }
      .post .share .btn-share i {
        margin-right: 6px;
        font-size: 1.2em; }
    .post .share .twitter {
      background-color: #00aced; }
      .post .share .twitter:hover {
        background-color: #2bc5ff; }
    .post .share .facebook {
      background-color: #3b5998; }
      .post .share .facebook:hover {
        background-color: #5476bd; }
    .post .share .google {
      background-color: #d54937; }
      .post .share .google:hover {
        background-color: #e0776a; }
  .post .rate {
    display: table-cell;
    width: 172px; }
  .post .controls, .post .pop {
    display: table-cell;
    width: 86px;
    height: 86px; }
  .post .controls {
    vertical-align: middle; }
    .post .controls a {
      text-align: center;
      font-size: 0.8em;
      text-transform: uppercase;
      font-weight: 700;
      color: #111111;
      cursor: pointer;
      display: block;
      height: 36px;
      line-height: 36px;
      border: solid 1px #dfdfdf;
      transition: 120ms; }
      .post .controls a i {
        margin-right: 8px; }
      .post .controls a:active {
        color: #fff; }
    .post .controls .buff {
      border-bottom-right-radius: 8px;
      border-bottom-left-radius: 8px;
      margin-bottom: 12px;
      margin-top: -1px; }
      .post .controls .buff:hover:not(:active) {
        box-shadow: inset 0 -1px 1px rgba(0, 0, 0, 0.08); }
        .post .controls .buff:hover:not(:active):not(.buff-active) {
          color: #11c996; }
    .post .controls .nerf {
      border-top-right-radius: 8px;
      border-top-left-radius: 8px;
      margin-top: 12px;
      margin-bottom: -1px; }
      .post .controls .nerf:hover:not(:active) {
        box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.08); }
        .post .controls .nerf:hover:not(:active):not(.nerf-active) {
          color: #dd3949; }
    .post .controls .buff-active, .post .controls .buff:active {
      background-color: #11c996;
      border-color: #0fad81;
      border-top-color: #11c996;
      box-shadow: inset 0 -1px 1px rgba(0, 0, 0, 0.12); }
    .post .controls .nerf-active, .post .controls .nerf:active {
      background-color: #dd3949;
      border-color: #d32435;
      border-bottom-color: #dd3949, 4%;
      box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.12); }
    .post .controls .buff-active, .post .controls .nerf-active {
      color: #fff;
      text-shadow: 0 1px 1px rgba(0, 0, 0, 0.12); }
  .post .pop {
    text-align: center;
    vertical-align: middle; }
  .post .topics {
    padding: 24px 12px;
    position: relative; }
    .post .topics:before {
      content: 'en relation avec';
      margin-left: 70px; }
  .post .content {
    padding: 36px;
    font-family: "PT Sans", "Georgia", sans-serif;
    text-align: justify; }
    .post .content h2 {
      margin-top: 0;
      margin-bottom: 8px; }
    .post .content h3 {
      margin-top: 0;
      color: #666; }
    .post .content .video {
      display: block;
      text-align: center;
      padding: 32px 0;
      background-color: #111;
      box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.8);
      border-radius: 6px; }
  .post .meta div {
    font-family: "PT Sans", "Georgia", sans-serif; }
  .post .meta .sources {
    padding: 6px 36px;
    text-align: left;
    font-size: 0.8em;
    text-transform: none;
    font-weight: 400;
    color: #999999; }
    .post .meta .sources:before {
      content: 'source : ';
      text-transform: uppercase;
      font-size: .9em; }
  .post .meta .tags {
    border-top: solid 1px #dfdfdf;
    border-bottom: solid 1px #dfdfdf;
    padding: 12px 36px; }
    .post .meta .tags i {
      margin-right: 8px;
      color: #666; }
    .post .meta .tags a {
      display: inline-block;
      text-align: center;
      font-size: 0.7em;
      text-transform: none;
      font-weight: 400;
      color: #666666;
      padding: 4px;
      border: solid 1px #ccc;
      border-radius: 3px;
      margin-right: 4px; }
      .post .meta .tags a:hover {
        border-color: #005283;
        background-color: #0065a2;
        color: #fff; }
  .post .comments {
    display: block;
    padding: 0 36px; }
  .post .comment-item {
    position: relative;
    border-top: solid 1px #dfdfdf;
    padding: 24px 0; }
    .post .comment-item .avatar {
      display: table-cell;
      text-align: center;
      vertical-align: top; }
      .post .comment-item .avatar img {
        height: 64px;
        width: 64px;
        border-radius: 50%; }
    .post .comment-item .comment {
      display: table-cell;
      vertical-align: top;
      padding-left: 16px; }
    .post .comment-item .info .username {
      font-size: .8em;
      font-weight: 700;
      margin-right: 6px; }
    .post .comment-item .info .timestamp {
      font-size: .7em;
      color: #999; }
    .post .comment-item .comment-content {
      padding: 12px 0;
      text-align: justify;
      font-size: 0.9em;
      text-transform: none;
      font-weight: 400;
      color: #444444;
      font-family: "PT Sans", "Georgia", sans-serif; }
    .post .comment-item .comment-controls {
      display: block; }
    .post .comment-item button {
      display: inline-block;
      text-align: center;
      font-size: 0.6em;
      text-transform: uppercase;
      font-weight: 400;
      color: #888888;
      background-color: #fafafa;
      border: solid 1px #dfdfdf;
      box-shadow: inset 0 1px rgba(255, 255, 255, 0.2);
      border-radius: 4px;
      margin-right: 6px;
      padding: 2px 6px; }
      .post .comment-item button i {
        margin-right: 4px; }
    .post .comment-item .mention:hover {
      color: #fff;
      background-color: #0065a2;
      border-color: #004c79; }
    .post .comment-item .mention:active {
      background-color: #005283;
      box-shadow: none; }
    .post .comment-item .report:hover {
      color: #fff;
      background-color: #dd3949;
      border-color: #ca2333; }
    .post .comment-item .report:active {
      background-color: #d32435;
      box-shadow: none; }
    .post .comment-item .achievements {
      position: absolute;
      top: 16px;
      right: 0; }
      .post .comment-item .achievements li {
        float: left;
        margin-right: 4px; }
        .post .comment-item .achievements li:last-child {
          margin: 0; }
      .post .comment-item .achievements:after {
        clear: both; }
      .post .comment-item .achievements img {
        vertical-align: bottom; }

.game {
  text-align: center;
  font-size: 0.7em;
  text-transform: uppercase;
  font-weight: 700;
  color: #333333;
  display: inline-block;
  padding: 4px 8px;
  box-shadow: 0 0 0 2px #dfdfdf;
  border-radius: 6px;
  cursor: default; }
  .game:not(:last-child) {
    margin-bottom: 6px; }
  .game:before {
    content: 'jeu';
    color: #bbb;
    margin-right: 4px; }
  .game:hover {
    box-shadow: none;
    background-color: #333;
    color: #fff; }

blockquote {
  text-align: justify;
  font-style: italic;
  margin: 8px 16px;
  color: #222; }
  blockquote:before {
    content: "\f10d";
    font-family: 'FontAwesome';
    color: #0065a2;
    font-size: 1.2em;
    margin-right: 8px; }
