html, body, div {
    margin: 0;
    padding: 0;
    font-size: 100%;
    vertical-align: baseline;
}

li {
    list-style-type: none;
}

ul, li {
    margin: 0;
    padding: 0;
}

a {
    color: #65aeee;
    text-decoration: none;
}

a:hover {
    color: #448ccb;
}

.content-wrapper {
    width: 718px;
    margin: 0 auto 100px auto;
}

.content-filter {
    position: relative;
    border-width: 1px 1px 0 1px;
}

.content-filter, .content-settings {
    line-height: 46px;
    border-style: solid;
    border-color: #e5e5e5;
    font-family: 'Open Sans', 'Arial', sans-serif;
    font-size: .7em;
    color: #707070;
}

.content-settings {    
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .08);
    border-width: 0 1px 0 1px;
}

.content-settings li {
    display: table-cell;    
    color: #333333;
    font-weight: 700;
    border-right: solid 1px #e5e5e5;
    height: 100%;
    padding: 0 8px;
    cursor: pointer;
}

.content-settings input, .content-settings label {
    vertical-align: middle;
    cursor: pointer;
    margin: 0;
}

.content-settings label {
    margin-left: 8px;
}


.filter, .sort {
    display: inline;
    border: solid 1px #e5e5e5;
    border-radius: 3px;
    padding: 4px 6px;
    margin-left: 10px;
    cursor: pointer;
    box-shadow: inset 0 1px rgba(0, 0, 0, .05);
}

.filter-active, .sort-active {
    background-color: #444444;
    border-color: #111111;
    color: #ffffff;
}

.content-all {
    display: inline;
    position: absolute;
    right: -1px;
    top: -1px;
    padding: 0 16px;
    border: solid 1px #e5e5e5;
    text-transform: uppercase;
}

.content-all a {
    color: inherit;
    display: block;
}

.content-all .icon-caret-right {
    font-size: 1.2em;
    margin-left: 16px;
}

.filter .title, .sort .title {
    text-transform: uppercase;
    font-weight: 700;
    margin-right: 6px;    
}

.content-all:hover {
    background-color: #0c9cf5;
    color: #ffffff;
    border-color: #0081d1;
    box-shadow: inset 0 1px rgba(255, 255, 255, .3);
    text-shadow: 0 1px rgba(0, 0, 0, .3);
}

.filter:hover, .sort:hover {
    background-color: #0c9cf5;
    color: #ffffff;
    border-color: #0081d1;
}


.filter-platform-checked {
    box-shadow: inset 0 4px #0c9cf5;
}

.content-roll {
    width: 718px;
    padding-top: 1px;
}

.content-roll-load {
    font-family: 'Open Sans', 'Arial', sans-serif;
    font-size: .7em;
    font-weight: 700;
    text-transform: uppercase;
    color: #d5d5d5;
    background-color: #ffffff;
    line-height: 30px;
    text-align: center;
    border: solid #e5e5e5;
    border-width: 0 1px 1px 1px;
    border-radius: 0 0 6px 6px;
    cursor: pointer;
    box-shadow: 0 2px 2px rgba(0, 0, 0, .06);
}

.content-roll-load:hover {
    background-color: #0c9cf5;
    color: #ffffff;
    border-color: #0090e9;
    box-shadow: inset 0 1px rgba(0, 0, 0, .1);
}

.content-roll-load:active, .filter:active, .sort:active {
    text-shadow: 0 1px rgba(0, 0, 0, .2);
    background-color: #0090e9;
}

.content-item {
    font-family: 'Open Sans', 'Arial', sans-serif;
    background-color: #ffffff;
    color: #111111;
    cursor: pointer;
    display: table;
    border: solid 1px #e5e5e5;
    margin-top: -1px;
    max-width: 718px;
}

.star-items {
    background-color: #ffffff;
    border-color: #e5e5e5;
    max-width: 718px;
}

.star-items .item-authoring, .star-items .item-comment-count {
    color: #ffffff;
}


.content-item:hover .star {
    color: #fbde42;
  }

.star {
    font-size: 1.6em;    
}

.item-platform {
    width: 72px;
    display: table-cell;
    text-align: center;
}

.platform-capsule {    
    border-radius: 50%;
    width: 42px;
    height: 42px;
    color: #ffffff;
    line-height: 42px;
    font-size: 0.7em;
    font-weight: 700;
    text-align: center;
    display: inline-block;
}

.item-thumbnail {
    width: 126px;
}

.item-thumbnail-frame {
    display: inline-block;
    border: solid 2px #e5e5e5;
    border-radius: 6px;
}

.item-thumbnail-frame img {
    border-radius: 4px;
    vertical-align: top;
    width: 120px;
    height: auto;
    max-height: 68px;
}

.item-details {
    width: 448px;
    vertical-align: middle;
}

.time-stamp {
    font-size: 0.85em;
    font-weight: 400;
    margin-left: 4px;
}

.item-title {
    line-height: 18px;
    font-size: .9em;
    font-weight: 700;
    padding: 6px 0 6px 20px;
    max-height: 36px;
    overflow: hidden;
}


.item-authoring, .item-comment-count {
    font-weight: 700;
    font-size: 0.7em;
    padding-left: 20px;    
    line-height: 16px;
    color: #707070;
}

.item-comment-count:after {
    font-weight: 400;
    content: 'commentaires';
    margin-left: 4px;
}

.item-comment-count i {
    margin-right: 4px;
}

.item-popularity, .star-wrap {
    width: 72px;
    display: table-cell;
    text-align: center;
}

.hp {
    margin-bottom: -6px;
    line-height: 15px;
}

.hp, .popularity {
    font-size: .7em;
    font-weight: 700;    
}

.heart {
    font-size: 1.4em;
    margin-bottom: -2px;
    line-height: 30px;
}

.popularity {
    display: inline-block;
    padding: 0 3px;
    border-radius: 3px;
    border: solid 1px #e1e1e1;
    box-shadow: inset 0 1px rgba(0, 0, 0, .06);
}

.platform-pc {
    background-color: #ff5113;
}

.platform-multi {
    background-color: #2e3192;
    font-size: .5em;
}

.platform-360 {
    background-color: #66bc29;
}

.platform-pc-item-hover {
    color: #ff5113;    
}

.platform-multi-item-hover {
    color: #2e3192;
}

.platform-360-item-hover {
    color: #66bc29;
}

.content-item:hover .popularity {
    background-color: #252525;   
    color: #ffffff;
    border: 0;
}

.content-item:hover .heart {
    color: #e60000;
}

.content-item:hover .item-thumbnail {
    opacity: .8;
}

.item-platform, .item-thumbnail, .item-popularity, .item-details {
    position: relative;
    display: table-cell;
    vertical-align: middle;
    height: 100px;
}

 .star-wrap, .content-starred {
    position: relative;
    display: table-cell;
    vertical-align: middle;
 }
 
 .content-starred {
    padding: 5px;
    border-right: solid 1px #e5e5e5;
 }
 
.star-items img
{
    display: block;
    margin: 0;
    width: 150px;
    height: auto;
    max-width: 150px;
}

.content-starred-hover {
    position: absolute;
    height: 84px;
    width: 150px;
    box-shadow: inset 0 90px rgba(0, 0, 0, .7);
    display: none;
}

.starred-title {
    position: absolute;
    bottom: 0;
    font-size: .7em;
    line-height: 1.2em;
    padding: 10px;
    text-shadow: 0 1px #111111;
    color: #ffffff;
}

.content-starred:hover .content-starred-hover {
    display: inline;
}

/* Navbar style */
.navbar {
    margin: 0;
    padding: 0;
    display: inline-block;
    height: 46px;
    background: #00b4ff; /* Old browsers */
    background: -moz-linear-gradient(top,  #00b4ff 0%, #1589ec 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#00b4ff), color-stop(100%,#1589ec)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #00b4ff 0%,#1589ec 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #00b4ff 0%,#1589ec 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #00b4ff 0%,#1589ec 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #00b4ff 0%,#1589ec 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00b4ff', endColorstr='#1589ec',GradientType=0 ); /* IE6-9 */
    box-shadow: 0 1px #0079df, inset 0 1px rgba(255, 255, 255, .2);
    font-family: 'Open Sans', 'Helvetica', 'Arial', sans-serif;
    min-width: 100%;
}

.container {
    width: 940px;
    margin: 0 auto;
}

.navbar-inner {
    display: table;
    height: 100%;
    min-width: 940px;
}

.livegen-symbol {
    display: table-cell;
    vertical-align: middle;
    width: 52px;
    text-align: center;
}

.livegen-symbol img {
    padding: 0;
    margin: 0;
    vertical-align: bottom;
}

.nav-items, .user-details {
    line-height: 46px;
    color: #ffffff;
    font-size: 1.1em;
    display: block;
    height: 100%;    
}

.nav-items {
    position: relative;
    float:left;
}

.nav-items > li, .user-details > li {
    float: left;
    margin: 0 0 0 -1px;
    display: block;
    font-size: .65em;
    text-transform: uppercase;
    font-weight: 700;
    border-width: 0 1px 0 1px;
    border-style: solid;
    border-color: #1589ec;
}

.nav-items > li i, .user-details > li i {
    font-size: 1.2em;
}

.nav-items > li  a, .user-details > li  a {
    display: block;
    margin: 0;
    padding: 0 14px;
    color: #ffffff; 
}

.nav-items > li:hover {
    background-color: #1589ec;
}

.nav-menu {
    padding: 0 14px;
    cursor: pointer;
    position: relative;
}

li.nav-menu:hover {
    background-color: #363636;
}

.nav-menu ul {
    display: none;
    background-color: #363636;
    position: absolute;
    left: 0;
    width: 174px;
    cursor: default;
    border-bottom: solid 4px #53b0ff;
    z-index: 999;
}

.nav-menu:hover ul {
    display: block;
}

.nav-menu li:not(.nav-menu-header) {
    margin: 0;       
    line-height: 20px;
    border-top: solid 1px rgba(0, 0, 0, .1);
    box-shadow: inset 0 1px rgba(255, 255, 255, .04);
}

.nav-menu li a {
    padding: 8px 14px;
}

.nav-menu li:hover:not(.nav-menu-header) {
    background-color: #1589ec;
    box-shadow: none;
}

.nav-menu  .nav-menu-header {
    margin: 16px 14px 2px 14px;
    padding: 0;    
    line-height: 20px;
    font-size: .8em;
    font-weight: 400;
    color: #959595;
}

.nav-menu ul .secondary {
    background-color: #303030;
    box-shadow: inset 0 1px rgba(0, 0, 0, .04);
}

.user-details a {
    font-weight: 400;
}

.user-details {
    float: right;    
}

.user-details li {
    border: 0;
}

.user-details li:hover {
    background: #98f000; /* Old browsers */
    background: -moz-linear-gradient(top,  #98f000 0%, #00c479 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#98f000), color-stop(100%,#00c479)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #98f000 0%,#00c479 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #98f000 0%,#00c479 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #98f000 0%,#00c479 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #98f000 0%,#00c479 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#98f000', endColorstr='#00c479',GradientType=0 ); /* IE6-9 */
    text-shadow: 0 1px rgba(0, 0, 0, .15); 
    box-shadow: 0 1px #00aa69;
}

.user-details li:active {
    background: #00c479;
} 

.nav-items .search {
    padding: 0;
    border-left: 0;
}

.search input {
    padding: 0 12px;
    margin: 0;
    border: 0;
    display: inline-block;
    height: 46px;
    background-color: #1589ec;
    color: #fff;
    font-style: italic;
    font-size: 1.1em;
    text-transform: capitalize;
}

.search input:focus {
    outline: none;
    background-color: #0079df;
    box-shadow: inset 0 -2px  4px rgba(0, 0, 0, .06);
}

.search ::-webkit-input-placeholder {
    color: #80c5ff; 
}
 
.search :-moz-placeholder {
    color: #80c5ff; 
}
 
.search :-ms-input-placeholder {
    color: #80c5ff;
}
 
.search:hover input {
    background-color: #0079df;
}

li.arrow-box {
    border-right: 0;
    background: #00b4ff; /* Old browsers */
    background: -moz-linear-gradient(top,  #00b4ff 0%, #1589ec 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#00b4ff), color-stop(100%,#1589ec)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #00b4ff 0%,#1589ec 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #00b4ff 0%,#1589ec 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #00b4ff 0%,#1589ec 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #00b4ff 0%,#1589ec 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00b4ff', endColorstr='#1589ec',GradientType=0 ); /* IE6-9 */
    padding: 0 10px;
}

li.arrow-box:hover {
    background-color: #1589ec;
}
.arrow-box {
    position: relative;
    color: #0079df;
    text-shadow: 0 1px rgba(255, 255, 255, .15);
}

.arrow-box:after {
	left: 100%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}

.arrow-box:after {
	border-color: rgba(11, 158, 246, 0);
	border-left-color: #0b9ef6;
	border-width: 6px;
	top: 50%;
	margin-top: -6px;
}


/*carousel*/
.carousel {
  width: 718px;
  height: 198px;
  position: relative;
  overflow: hidden;
  background-color: #111;
}

.carousel li {
  display: none;
  position: absolute; 
  top: 0; 
  left: 0; 
}

.carousel-wrapper {
    display: inline-block;
    position: relative;
    border: solid 1px #e5e5e5;
}

.carousel-titles {
    position: absolute;
    display: table;
    right: 0;
    z-index: 99;
    height: 198px;
    width: 240px;
    text-align: right;
    font-family: 'Open Sans', sans-serif;
    color: #fff;
    font-size: .8em;
    background: #000;
    background: rgba(0, 0, 0, .8);
    text-shadow: 0 1px rgba(0, 0, 0, .4);    
}

.carousel-titles ul {
    display: table-cell;
    vertical-align: middle;
}

.carousel-titles li {
    transition: box-shadow 600ms, color 800ms;
    cursor: pointer;
    padding-bottom: 2px;
    padding-right: 20px;
}

.carousel-titles li:hover {
    color: #0c9cf5;
}

.carousel-titles .active {
    font-weight: 700;
    color: #0c9cf5;
    box-shadow: inset -4px 0 #0c9cf5;
}