html, body, div {
    margin: 0;
    padding: 0;
    font-size: 100%;
    vertical-align: baseline;
}

li {
    list-style-type: none;
}

ul, li {
    margin: 0;
    padding: 0;
}

.content {
    width: 718px;
    margin: 0 auto;
    padding: 40px 0;
}

.news-roll {
    width: 718px;
    padding-top: 1px;
}

.news-item {
    font-family:"Open Sans", "Arial", sans-serif;
    background-color: #ffffff;
    cursor: pointer;
    display: table;
    border: solid 1px #e5e5e5;
    margin-top: -1px;
}


.item-platform {
    width: 82px;
    height: 112px;
    display: table-cell;
    text-align: center;
}

.platform-capsule {    
    border-radius: 50%;
    width: 42px;
    height: 42px;
    color: #ffffff;
    line-height: 42px;
    font-size: 0.7em;
    font-weight: 700;
    text-align: center;
    display: inline-block;
}

.item-thumbnail {
    width: 126px;
}

.item-thumbnail-frame {
    display: inline-block;
    border: solid 2px #c2c2c2;
    border-radius: 6px;
}

.item-thumbnail-frame img {
    border-radius: 4px;
    vertical-align: top;
    width: 122px;
    height: auto;
}

.item-details {
    width: 432px;
    height: 112px;
    vertical-align: middle;
}

.time-stamp {
    font-size: 0.85em;
    font-weight: 400;
    margin-left: 4px;
}

.item-title {
    color: #111111;
    line-height: 1.5em;
    font-size: 0.95em;
    font-weight: 700;
    padding: 6px 0 6px 20px;
    max-height: 44px;
    overflow: hidden;
}

.item-authoring, .item-comment-count {
    font-weight: 700;
    font-size: 0.7em;
    padding-left: 20px;
    color: #707070;
}

.item-comment-count:after {
    font-weight: 400;
    content: 'commentaires';
    margin-left: 4px;
}

.item-comment-count i {
    margin-right: 4px;
}

.item-popularity {
    width: 76px;
    height: 112px;
    display: table-cell;
    text-align: center;
}

.hp, .popularity {
    font-size: .7em;
    font-weight: 700;
}

.heart {
    font-size: 1.4em;
}

.popularity {
    display: inline-block;
    padding: 0 3px;
    border-radius: 3px;
    border: solid 1px #e5e5e5;    
}

.platform-pc {
    background-color: #ff5113;
}

.platform-multi {
    background-color: #323840;
    font-size: .5em;
}


.item-platform, .item-thumbnail, .item-popularity, .item-details {
    position: relative;
    display: table-cell;
    vertical-align: middle;
    height: 112px;
}
